@import 'config/fonts';
@import 'config/colors';

nav {
  background-color: $wes-red;
}

.navbar-brand {
  font-family: $headings-font-family;
  color: $yellow;

  &:hover {
    color: $yellow;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

body {
  padding-top: 4rem;
}
